{% extends 'events/base.html' %}

{% block content %}

<h2>Admin Dashboard</h2>

<div class="event-card">
    <p><strong>Total Events:</strong> {{ total_events }}</p>
    <p><strong>Total Bookings:</strong> {{ total_bookings }}</p>
    <p><strong>Total Users:</strong> {{ total_users }}</p>
    <p><strong>Total Revenue:</strong> ₹{{ total_revenue }}</p>
</div>

{% if top_event %}
<div class="event-card">
    <h3>Most Popular Event</h3>
    <p>{{ top_event.title }}</p>
    <p>Total Bookings: {{ top_event.booking_count }}</p>
</div>
{% endif %}

{% endblock %}